@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
	line-height: 1.5;
    color: #030A1B;
	scroll-behavior: smooth;
}
.wrapper {
    display: flex;
    flex-direction: column;
	min-height: 100%;
	overflow: hidden;
    padding: 35px 0 190px;
    background-color: #f9f9f9;
}
.container {
    max-width: 73.5rem;   /*1176px*/
    margin: 0 auto;
    width: 100%;
    padding: 0px 15px 0px 15px;
}
.header {
    padding-bottom: 50px;
}
.menu__link.active {
    color: #FE753F;
}
.background-dark {
    background-color: #F9F9F9;
}
.title-middle {
    
    
    font-weight: 600;
    font-size: 2.75rem;  /*44px*/
    line-height: 150%;
}
.partners {
    padding: 50px 0 140px;
}
.footer {
}

/*----------------Меню бургер------------------*/
#burger {
	display: none;
}
.label {
	display: block;
	position: absolute;
	top: 11px;
	right: 0;
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 2;
}
.burger__line {
	position: absolute;
	top: 25px;
	right: 0px;
	width: 30px;
	height: 3px;
	background-color: #fff;
	display: none;
	transition: all 0.3s linear;
}
.line-second,
.line-third {
	top: 33px;
}
.line-fourth {
	top: 41px;
}

/*------Header__top-------*/

.header {
}
.header__top {
    position: relative;
    margin-bottom: 70px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    transition: all 0.5s ease-out;
}
.menu__list {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.menu__item {
    max-height: 65px;
}
.menu__link {
    padding: 15px 30px;
    font-weight: 500;
    color: #030A1B;
    opacity: 0.7;
    display: block;
    outline: none;
}
.menu__link:hover {
    background: #2E6EFF;
    border-radius: 5px;
    color: #fff;
}
.menu__link:focus,
.menu__link:active {
    outline: none;
    color: #FE753F;
    background: none;
}

/*------Header__content-------*/
.header__inner {
    position: relative;
}
.header__body {
    display: flex;
    /* position: relative; */
}
.header__content {
    flex: 1 1 auto;
    position: relative;
    padding: 44px 104px 47px 0;
}
.header__title {
    margin: 0 0 0.4918em;
    font-weight: 600;
    font-size: 3.8125rem;
    line-height: 120%;
}
.header__text:not(:last-child) {
    margin-bottom: 6.47%;
}

.header__img {
    flex: 0 0 42.234%;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
}
.building {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__tab {
    position: absolute;
    bottom: 7.605%;
    z-index: 10;
    /* background: #FFFFFF; */
    /* box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
    border-radius: 5px; */
    /* top: 0;
    left: 0; */
}
.tab {
    width: 127.191%;
    height: 181px;
    border-radius: 5px;
    background: transparent;
    /* clip-path: polygon(0 0, 37.71% 0,37.71 10%, 100% 100%, 0 100%); */
}
.tab__top {
    display: flex;

}
.tab__offers {
    min-width: 258px;
    min-height: 54px;
    display: flex;
    justify-content: space-between;
    padding: 0 21px;
    border-radius: 5px 5px 0 0;
    background: #FFFFFF;
}
.tab__item {
    padding: 10px;
    background: inherit;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 150%;
    cursor: pointer;
    }
.tab__item.active {
    color: #FE753F;
}
.tab__item:not(:last-child) {
    /* margin-right: 34px; */
}
.tab__buy {
}
.tab__rent {
}
.tab__sell {
}
.tab__decor {
    display: flex;
    width: 100%;
    position: relative;
    border-radius: 5px;
    background-color: inherit;
}
.tab__decor::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: #FFFFFF;
}
.tab__decor::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: #f9f9f9;
    border-radius: 0 0 0 5px;
}
.tab__body {
    padding: 30px 0;
    background: #FFFFFF;
    min-height: 127px;
    z-index: 10;
    border-radius: 0 5px 5px 5px;
}

/* .content-tab {
    display: flex;
    /* flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    display: none;
} */



.content-tab__inner {
    /* flex: 0 1 25%; */
    /* padding: 0 0 0 31px; */
    /* padding: 0 29px; */
    display: flex;
    /* justify-content: flex-start;
    align-items: center; */
    position: relative;
    /* padding: 10px; */
    background: #FFFFFF;
}
.content-tab__inner:nth-child(-n+2)::after {
    content: "";
    display: block;
    margin: auto 36px auto;
    height: 34px;
    opacity: 0.1;
    border: 1px solid #030A1B;
}
.content-tab__inner:nth-child(3) {
    /* padding-right: 29px; */
}


.label-tab {
    display: flex;
    align-items: center;
}
.label-tab__text {
    margin-right: 10px;
}

/* .content-tab__location {
    position: relative;
}
.content-tab__location::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    right: -20px;
    width: 10px;
    height: 5px;
    border: 1px solid black;
    border-top: none;
    border-right: none;
} */

/* .choices {
}
.choices[data-type*=select-one]:after {
    display: none;
}

.choices__inner {
    padding-left: 0;
    min-width: 88px;
    border: none;
    background: #FFFFFF;
}
.choices__list--single {
    padding: 0;
}
.choices__list--single .choices__item {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: #030A1B;
}
.tab__body .content-tab.active {
    display: flex;
}
.tab__search {
    padding: 15px 20.16px 15px 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #FFFFFF;
    background: #2E6EFF;
    border-radius: 10px;
    cursor: pointer;
}
.tab__search:hover {
    background: #1a5af1;
}
.search-btn__text {
    margin-left: 10.8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
} */

/*------Partners-------*/

.partners__title {
    max-width: 294px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1.47em;
}
.partners__title::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/partners/partners-bk.png);
    background-repeat: no-repeat;
}
.partners__body {
    display: flex;
    align-content: flex-start;
}
.partners__item {
    flex: 1 1 20%;
    text-align: center;
    transition: all 0.3s ease;
}
.partners__item:hover,
.partners__item:focus,
.partners__item:active {
    box-shadow: 0 15px 10px 0 rgba(192, 15, 46, 0.74);
}
.item-partners__link {
    display: block;
    outline: none;
}
.item-partners__link:focus {
    box-shadow: 0 15px 10px 0 rgba(192, 15, 46, 0.74);
}

/*------Popular-------*/

.popular__top {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}
.popular__title {
    position: relative;
    margin-right: auto;
}
.popular__title::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -15px;
    width: 100%;
    height: 100%;
    background-image: url(../images/popular/popular-bk.png);
    background-repeat: no-repeat;
}
.popular__link-view {
    font-weight: 600;
    color: #FE753F;
}
.popular__link-view:hover {
    text-decoration: underline;
}
.popular__card {
    margin-bottom: 100px;
}

/*------grid-container-------*/

.card-popular {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(362px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;
    justify-content: center;
}
.card-popular__item {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
}
.card-popular__photo {
    position: relative;
    padding: 0 0 88.6740% 0;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}
.card-popular__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    position: absolute;
    top: 0;
    left: 0;
}
.card-popular__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px 29px 30px 30px;
}
.card-popular__row-top {
    flex: 1 1 auto;
    display: flex;
    margin-bottom: 10px;
}
.card-popular__title {
    margin-right: auto;
}
.title-small {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 150%;
    color: #030A1B;
}
.card-popular__heart {
    padding: 10px;

}
.card-popular__location {
    margin-bottom: 20px;
}
.location {
    display: flex;
}
.location__icon {
    padding-right: 10px;
    opacity: 0.7;
}
.location__title {
    opacity: 0.7;
}
.card-popular__facility-description {
    margin-bottom: 26px;
}
.description-facility {
    display: flex;
}
.description-facility__item {
    display: flex;
    align-items: center;
}
.description-facility__item:not(:last-child) {
    margin-right: 20px;
}
.description-facility__icon {
    padding-right: 5px;
}
.description-facility__number {
    align-self: flex-end;
    font-size: 0.875rem;
    line-height: 150%;
    opacity: 0.9;
}
.card-popular__row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-popular__price {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 150%;
    color: #FE753F;
}
.card-popular__details {
    padding: 10px 20px;
    font-weight: 500;
    color: #FFFFFF;
    background: #2E6EFF;
    border-radius: 5px;
}
.card-popular__details:hover {
    background: #0b4ade;
}

/*---------------------Property--------------------------*/

.property {
    background: #f5f5f5;
    padding: 70px 0;
}
.property__top {
    margin-bottom: 70px;
}
.property__title {
    position: relative;
    max-width: 403px;
    margin: 0 auto 10px;
    text-align: center;
}
.property__title::before {
    content: "";
    position: absolute;
    top: -14px;
    left: -24px;
    width: 100%;
    height: 100%;
    background-image: url(../images/property/property-bk.png);
    background-repeat: no-repeat;
}
.property__subtitle {
    max-width: 728px;
    margin: 0 auto;
    opacity: 0.7;
    text-align: center;
}
.content-property {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(362px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-auto-flow: row;
}
.content-property__item {
    padding: 25px;
    background: #FFFFFF;
    border-radius: 10px;
}
.property-item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.property-item2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.property-item3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.property-item4 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.property-item5 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.property-item6 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.property-item7 {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    background: inherit;
    padding: 0;
    display: grid;
    align-items: end;
}
.content-property__img {
    margin-bottom: 15px;
    width: 46px;
    height: 46px;
    background: rgba(254, 117, 63, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-property__icon {
    color: rgba(254, 117, 63, 1);
}
.icon-big {
    width: 100%;
    border-radius: 10px;
}
.content-property__title {
    margin-bottom: 10px;
}
.content-property__text {
    opacity: 0.7;
}

/*---------------------Reviews--------------------------*/

.reviews {
    padding: 140px 0 113px;
}
.reviews__link {
    max-width: 250px;
    display: block;
    margin: 0 auto 10px;
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FE753F;
    text-align: center;
}
.reviews__link:hover {
    text-decoration: underline;
}
.reviews__title {
    position: relative;
    max-width: 630px;
    margin: 0 auto 70px;
    text-align: center;
}
.reviews__title::before {
    content: "";
    position: absolute;
    top: -14px;
    left: -15px;
    width: 100%;
    height: 100%;
    background-image: url(../images/property/property-bk.png);
    background-repeat: no-repeat;
}
.slider {
    position: relative;
    overflow: hidden;
}
.slider__item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 30px 40px 30px 30px;
    min-width: 0;
    background: #FFFFFF;
    border: 2px solid rgba(254, 117, 63, 0.1);
    border-radius: 10px;
    cursor: pointer;
}
.slider__top {
    margin-bottom: 31px;
    display: flex;
}
.slider__photo {
    position: relative;
    margin-right: 31px;
    border-radius: 50%;
    overflow: hidden;
    min-width: 74px;
    height: 74px;
}
.slider__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__info {
    padding-right: 20px;
}
.slider__quote {
    margin-left: auto;
}
.slider__text {
    opacity: 0.7;
}
/* Лента слайдов */
.slick-track {
    display: flex;
    margin-bottom: 40px;
}
/* Точки (булиты) */
.slider .slick-dots {
    display: flex;
    justify-content: center;
}
.slider .slick-dots li {
    margin: 0 10px;
}
.slider .slick-dots li.slick-active button {
    background: #2E6EFF;
}
/* Элемент точки */
.slider .slick-dots li button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #EDEDED;
}
/* Слайд */
.slick-slide {
    margin: 0 15px;
}

/*-------------------------------------------Email------------------------------------------------*/

.email {
    padding: 27px 0 135px
}
.email__body {
    position: relative;
    padding: 70px 10px;
    background: #433E89;
    border-radius: 10px;
}
.email__title {
    text-align: center;
    margin-bottom: 15px;
    color: #FFFFFF;
}
.email__descr {
    max-width: 635px;
    opacity: 0.7;
    text-align: center;
    margin: 0 auto 70px;
    color: #FFFFFF
}
.email__form {
    position: relative;
    max-width: 743px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
}
.email__input {
    width: 100%;
    height: 100%;
    padding: 23px 0 23px 30px;
    background: #FFFFFF;
    border-radius: 10px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
.email__input:focus {
    border: 3px solid #2E6EFF;
}
.email__input:focus::placeholder {
    font-size: 0;
}
.email__input::placeholder {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #030A1B;
    opacity: 0.5;
}
.email__button {
    position: absolute;
    top: 7px;
    right: 7px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    padding: 16px 40px 16px 41px;
    background: #2E6EFF;
    border-radius: 10px;
    font-size: 1rem;
    line-height: 150%;
}
.email__button:hover {
    background: #1359fd;
}
.ellips-left {
    position: absolute;
    top: 26px;
    left: 0;
    transform: rotate(20deg);
    transform-origin: top left;
}
.ellips-right {
    position: absolute;
    bottom: -31px;
    right: 16px;
    width: 17.68%;
}

/*-------------------------------------------Footer------------------------------------------------*/

.footer__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer__column:not(:first-child) {
    margin-left: 174px;
}
.footer__logo {
    position: relative;
    top: -10px;
    display: block;
    margin-bottom: 25px;
}
.logo__img_small {
    max-width: 220px;
}
.footer__text {
    margin-bottom: 25px;
    width: 262px;
}
.sotial__list {
    display: flex;
}
.sotial__item:not(:last-child) {
    margin-right: 15px;
}
.sotial__icon:hover {
    transform: scale(1.2);
}
.sotial__icon {
    transition: transform .3s ease;
}
.about-footer {
    width: 81px;
}
.footer__title {
    margin-bottom: 25px;
}
.footer__item:not(:last-child) {
    margin-bottom: 15px;
}
.footer__item > * {
    font-weight: 500;
    line-height: 106%;
    color: #030A1B;
    opacity: 0.7;
}
.footer__item:hover {
    text-decoration: underline;
}
.address-footer {
    min-width: 158px;
}
.address-footer__item:nth-child(3) {
    font-weight: 500;
}
.address-footer__item:nth-child(1) {
    font-family: 'Proxima';
}
.address-footer__link {
    font-weight: inherit;
}

@media (max-width: 73.4375em) /* 1175px */ {
    .tab {
        width: 140%;
    }
    .popular__card {
        grid-template-columns: repeat(auto-fit, minmax(362px, 466px));
    }
    .property-item7 {
        display: none;
    }
    .content-property {
        grid-template-columns: repeat(2, 1fr);
    }
    .property-item1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .property-item2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .property-item3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .property-item4 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .property-item5 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .property-item6 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .footer__column:not(:first-child) {
        margin-left: auto;
    }
}
@media (max-width: 69.375em) /* 1110px */ {
    .menu__list {
        column-gap: 10px;
    }
    .header__title {
        font-size: 3.3rem;
    }
    .header__content {
        padding: 33px 90px 30px 0;
    }
    .tab {
        bottom: 30px;
}
    .partners__body {
        gap: 20px;
        flex-wrap: wrap;
}
    .partners__item {
        flex: 1 1 33.333%;
    }
    .item-partners__link_third {
        order: 3;
    }
    .item-partners__link_fifth {
        order: 5;
    }
}
@media (max-width: 62em) /* 992px */ {
    .tab {
        width: 170%;
    }
    .tab__decor {
        display: none;
    }
    .flex-box {
        padding: 10px;
    }
    .wrapper {
        padding: 15px 0 100px;
    }
    .header__top {
        margin-bottom: 40px;
    }
    .popular__card {
        grid-template-columns: repeat(auto-fit, minmax(362px, 1fr));
    }
    .header__menu {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        top: 50px;
        left: -230%;
    }
    .menu__list {
        max-width: 666px;
        margin: 0 auto;
    }
    /*----------------  Меню бургер  ---------------*/
	.burger__line {
		display: block;
        background-color: #030A1B;
	}
	#burger:checked ~ .header__menu {
		left: 0%;
	}
	#burger:checked ~ .header__content {
		margin-top: 180px;
	}
	#burger:checked ~ .line-first {
		display: none;
	}
	#burger:checked ~ .line-second {
		transform: rotate(45deg);
	}
	#burger:checked ~ .line-third {
		transform: rotate(-45deg);
	}
	#burger:checked ~ .line-fourth {
		display: none;
	}
/*---------------------------------------------------*/
    .header__title {
        font-size: 2.5rem;
    }
    .header__content {
        padding: 20px 30px 20px 0;
    }
    .tab {
        /* bottom: 0px; */
    }
    .partners {
        padding: 30px 0 50px;
    }
    .partners__title {
        font-size: 2.5rem;
    }
    .partners__item:active,
    .partners__item:focus {
        box-shadow: 0 15px 10px 0 rgba(192, 15, 46, 0.74);
    }
    .slider__quote {
        display: none;
    }
    .partners__title::before {
        background-image: none;
    }
    .popular__title::before {
        background-image: none;
    }
    .property__title::before {
        background-image: none;
    }
    .reviews__title::before {
        background-image: none;
    }
}
@media (max-width: 55.625em) /* 890px */ {
    .header__logo {
        margin-left: auto;
    }
    .header__menu {
        max-width: 150px;
        transform: translateX(-50%);
        z-index: 20;
        background: rgba(192, 15, 46, 0.74);
    }
    #burger:checked ~ .header__menu {
		left: 50%;
        top: 600%;
        border-radius: 5px;
	}
    .menu__list {
        flex-wrap: wrap;
    }
    .menu__item {
        width: 100%;
    }
    .menu__link {
        color: #fff;
    }
    .header__body {
        flex-direction: column;
    }
    .header__content {
        padding: 50px 10px 10px;
        text-align: center;
    }
    .header__img {
        margin: 0 auto;
    }
    .label {
        top: 50px;
    }
    .burger__line {
        top: 66px;
    }
    .line-second,
    .line-third {
        top: 73px;
    }
    .line-fourth {
        top: 81px;
    }
    .header__content {
        padding: 10px 10px 10px;
    }
    .header__tab {
        left: 50%;
        transform: translate(-50%);
        bottom: -32.8em;

    }
    .tab {
        max-width: 85%;
        margin: 0 auto;
    }
    .tab__top {
        max-width: 258px;
        margin: 0 auto;
    }
    .tab .flex-box {
        border-radius: 5px 5px 5px 5px;
    }
    
    .flex-box__item {
        text-align: left;
    }
    .flex-box .flex-box__item:last-child {
        justify-content: center;
    }
    .flex-box .flex-box__item:nth-child(-n+2)::after {
        display: none;
    }
    .flex-box__search {
        width: 100%;
    }
}
@media (max-width: 47.9375em) /* 767px */ {
    .header {
        padding-bottom: 80px;
    }

    .partners {
        padding: 15px 0 35px;
    }
    .partners__title {
        font-size: 2rem;
    }
    .popular__top {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 40px;
    }
    .content-property {
        grid-template-columns: 1fr;
    }
    .property-item1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .property-item2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .property-item3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .property-item4 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    .property-item5 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    .property-item6 {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
    .content-property__item {
        min-width: 290px;
    }
    .reviews {
        padding: 70px 0 70px;
    }
    .email {
        padding: 0 0 70px;
    }
    .email__button {
        padding: 16px 25px 16px 25px;
    }
    .ellips-left,
    .ellips-right {
        display: none;
    }
    .footer__body {
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    .footer__column {
        padding: 15px 15px;
        flex: 1 1 100%;
        max-width: 290px;
        margin: 0 auto;
        text-align: center;
    }
    .footer__logo {
        margin-bottom: 0px;
    }
    .footer__item:not(:last-child) {
        margin-bottom: 12px;
    }
    .footer__sotial {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 30em) /* 480px */ {
    .header__title {
        font-size: 2rem;
    }
    .partners__item {
        flex: 0 1 100%;
    }
    .partners {
        padding: 0 0 35px;
    }
    .partners__title {
        font-size: 1.75rem;
    }
    .popular__card {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        margin-bottom: 50px;
    }
    .popular__title {
        font-size: 2.3rem;
    }
    .property {
        padding: 50px 0;
    }
    .property__top {
        margin-bottom: 50px;
    }
    .property__title {
        font-size: 2.3rem;
    }
    .property__subtitle {
        font-size: 0.875rem;
    }
    .content-property__text {
        font-size: 0.875rem;
    }
    .reviews {
        padding: 50px 0;
    }
    .reviews__title {
        font-size: 2.3rem;
        margin-bottom: 50px;
    }
    .slider__text {
        font-size: 0.875rem;
    }
    .slider__descr {
        font-size: 0.875rem;
    }
    .slider__info {
        padding-right: 0;
    }
    .email__body {
        padding: 50px 10px 90px;
    }
    .email__title {
        font-size: 2.3rem;
    }
    .email__descr {
        font-size: 0.875rem;
        margin-bottom: 30px;
    }
    .email__input {
        margin-bottom: 20px;
    }
    .email__button {
        position: static;
    }
}
@media (max-width: 27.875em) /*446px*/ {
    .header {
        padding-bottom: 190px;
    }
}
@media (max-width: 26.625em) /*426px*/ {
    .header {
        padding-bottom: 210px;
    }
}
@media (max-width: 25em) /*400px*/ {
    .header {
        padding-bottom: 360px;
    }
    .card-popular__body {
        padding: 20px 19px 20px 20px;
    }
    .card-popular__title {
        font-size: 1.2rem;
    }
    .card-popular__details {
        padding: 7px 10px;
        font-size: 14px;
    }
    .card-popular__price {
        font-size: 1.2rem;
    }
    .popular__title {
        font-size: 1.7rem;
    }
    .popular__top {
        margin-bottom: 30px;
    }
    .property__title {
        font-size: 1.7rem;
    }
    .content-property__title {
        font-size: 1.2rem;
    }
    .reviews__title {
        font-size: 1.7rem;
    }
    .slider__item {
        padding: 15px 15px 15px 15px;
        min-width: 0;
    }
    .slider__top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .slider__title {
        font-size: 1rem;
    }
    .slider__photo {
        margin: 0 0 15px;
    }
    .email__title {
        font-size: 1.75rem;
    }
    .tab__top .tab__offers {
        min-width: 207.86px;
        margin: 0 auto;
    }
    .flex-box .flex-box__item {
        flex: 1 1 100%;
    }
}
@media (max-width: 22.5em) /*360px*/ {
    .header {
        padding-bottom: 405px;
    }
}









.flex-box {
    /* margin-top: 100px; */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 842px;
    background: #FFFFFF;
    border-radius: 0 5px 5px 5px;
}
.flex-box {
    display: none;
}
.flex-box.active {
    display: flex;
}

.flex-box__item {
    position: relative;
    flex: 1 1 25%;
    /* margin: 2px; */
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.flex-box__item:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/*---относится к первым двум элементам flex-box__item---*/
.flex-box__item:nth-child(-n+2)::after {
    content: "";
    display: block;
    /* margin: auto 36px auto; */
    position: absolute;
    top: 50%;
    right: 36px;
    height: 34px;
    opacity: 0.1;
    border: 1px solid #030A1B;
}
.item-box__top {
    display: flex;
    gap: 10px;
    opacity: 0.7;
    align-items: baseline;
}
.item-box__arrow {
    display: flex;
}
.item-box__top{
    flex: 1 1 auto;
}
.item-box__select {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 150%;
    color: #030A1B;
}
.flex-box__search {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    min-height: 54px;
    font-size: 1rem;
    line-height: 150%;
    font-weight: 500;
    background: #2E6EFF;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
}
.flex-box__search:hover {
    background: #1a5efb;
}
.flex-box__item:not(:last-child):hover {
    border: 1px solid #2E6EFF;
}
.btn__text {
    margin-left: 10.8px;
}
.choices__inner {
    min-height: 100%;
    padding: 2.5px 0;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 150%;
    color: #030A1B;
    border: 0;
    background: #FFFFFF;
}
.choices__inner:hover {
    /* background: #0b4ade; */
}
.choices__list--single {
    padding: 0;

}
.choices[data-type*=select-one]:after {
    display: none;
}

