@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
	line-height: 1.5;
    color: #030A1B;
	scroll-behavior: smooth;
}
.wrapper {
    display: flex;
    flex-direction: column;
	min-height: 100%;
	overflow: hidden;
    padding: 35px 0 190px;
    background-color: #f5f5f5;
}
.container {
    max-width: 73.5rem;   /*1176px*/
    margin: 0 auto;
    width: 100%;
    padding: 0px 15px 0px 15px;
}
.header {
    padding-bottom: 50px;
}
.background-dark {
    background-color: #F9F9F9;
}
.title-middle {
    font-weight: 600;
    font-size: 2.75rem;  /*44px*/
    line-height: 150%;
}

/*----------------Меню бургер------------------*/
#burger {
	display: none;
}
.label {
	display: block;
	position: absolute;
	top: 11px;
	right: 0;
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 2;
}
.burger__line {
	position: absolute;
	top: 25px;
	right: 0px;
	width: 30px;
	height: 3px;
	background-color: #fff;
	display: none;
	transition: all 0.3s linear;
}
.line-second,
.line-third {
	top: 33px;
}
.line-fourth {
	top: 41px;
}

/*------Header__top-------*/
.header__top {
    position: relative;
    margin-bottom: 70px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    transition: all 0.5s ease-out;
}
.menu__list {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.menu__item {
    max-height: 65px;
}
.menu__link {
    padding: 15px 30px;
    font-weight: 500;
    color: #030A1B;
    opacity: 0.7;
    display: block;
    outline: none;
}

.menu__link:hover {
    background: #2E6EFF;
    border-radius: 5px;
    color: #fff;
}

.menu__link:focus,
.menu__link:active {
    outline: none;
    color: #FE753F;
    background: none;
}

/*------Header__content-------*/
.header__body {
    display: flex;
    position: relative;
}
.header__content {
    flex: 1 1 auto;
    position: relative;
    padding: 44px 104px 47px 0;
}
.header__title {
    margin: 0 0 0.4918em;
    font-weight: 600;
    font-size: 3.8125rem;
    line-height: 120%;
}
.header__text:not(:last-child) {
    margin-bottom: 6.47%;
}
.tab {
    position: absolute;
    bottom:7.605%;
    width: 842px;
    height: 181px;
    background-color: #2E6EFF;
    z-index: 10;
}
.header__img {
    flex: 0 0 42.234%;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
}
.building {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*------Partners-------*/
.partners {
    padding: 50px 0 70px;
}
.partners__title {
    text-align: center;
    margin-bottom: 1.47em;
}

.partners__body {
    display: flex;
    align-content: flex-start;
}
.partners__item {
    flex: 1 1 20%;
    text-align: center;
    transition: all 0.3s ease;
}
.partners__item:hover,
.partners__item:focus,
.partners__item:active {
    box-shadow: 0 15px 10px 0 rgba(192, 15, 46, 0.74);
}
.item-partners__link {
    display: block;
    outline: none;
}
.item-partners__link:focus {
    box-shadow: 0 15px 10px 0 rgba(192, 15, 46, 0.74);
}

/*------Popular-------*/

.popular__top {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}
.popular__title {
    margin-right: auto;
}
.popular__link-view {
    font-weight: 600;
    color: #FE753F;
}
.popular__link-view:hover {
    text-decoration: underline;
}
.popular__card {
    margin-bottom: 100px;
}

/*------grid-container-------*/
.card-popular {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(362px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;
    justify-content: center;

}

.card-popular__item {
    display: grid;
    background: #FFFFFF;
    border-radius: 20px;
}

.card-popular__photo {
    position: relative;
    padding: 0 0 88.6740% 0;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}
.card-popular__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.card-popular__body {
    padding: 30px 29px 30px 30px;
}
.card-popular__row-top {
    display: flex;
    margin-bottom: 10px;
}
.card-popular__title {
    margin-right: auto;
}
.title-small {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 150%;
    color: #030A1B;
}
.card-popular__heart {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-popular__location {
    margin-bottom: 20px;
}
.location {
    display: flex;
}
.location__icon {
    padding-right: 10px;
    opacity: 0.7;
}
.location__title {
    opacity: 0.7;
}
.card-popular__facility-description {
    margin-bottom: 26px;
}
.description-facility {
    display: flex;
}
.description-facility__item {
    display: flex;
    align-items: center;
}
.description-facility__item:not(:last-child) {
    margin-right: 20px;
}
.description-facility__icon {
    padding-right: 5px;
}
.description-facility__number {
    align-self: flex-end;
    font-size: 0.875rem;
    line-height: 150%;
    opacity: 0.9;
}
.card-popular__row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-popular__price {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 150%;
    color: #FE753F;
}
.card-popular__details {
    padding: 10px 20px;
    font-weight: 500;
    color: #FFFFFF;
    background: #2E6EFF;
    border-radius: 5px;
}
.card-popular__details:hover {
    background: #0b4ade;
}

/*---------------------Property--------------------------*/

.property {
    background: #F9F9F9;
    padding: 70px 0;
}
.property__top {
    margin-bottom: 70px;
}
.property__title {
    margin-bottom: 10px;
    text-align: center;
    
    
}
.title-middle {
}
.property__subtitle {
    max-width: 728px;
    margin: 0 auto;
    opacity: 0.7;
    text-align: center;
}
.property__content {
}
.content-property {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(362px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-auto-flow: row;
}
.content-property__item {
    padding: 25px;
    background: #FFFFFF;
    border-radius: 10px;
}
.property-item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.property-item2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.property-item3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.property-item4 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.property-item5 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.property-item6 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.property-item7 {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    background: inherit;
    padding: 0;
    display: grid;
    align-items: end;
}
.content-property__img {
    margin-bottom: 15px;
    width: 46px;
    height: 46px;
    background: rgba(254, 117, 63, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-property__icon {
    color: rgba(254, 117, 63, 1);
}
.icon-big {
    width: 100%;
    border-radius: 10px;
}
.content-property__title {
    margin-bottom: 10px;
}
.title-small {
}
.content-property__text {
    opacity: 0.7;
}

@media (max-width: 73.4375em) /* 1175px */ {
    .popular__card {
        grid-template-columns: repeat(auto-fit, minmax(362px, 466px));
    }

    .property-item7 {
        display: none;
    }
    .content-property {
        grid-template-columns: repeat(2, 1fr);
    }
    .property-item1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .property-item2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .property-item3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .property-item4 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .property-item5 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .property-item6 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}
@media (max-width: 69.375em) /* 1110px */ {
    .menu__list {
        column-gap: 10px;
    }
    .header__title {
        font-size: 3.3rem;
    }
    .header__content {
        padding: 33px 90px 30px 0;
    }
    .tab {
        bottom: 30px;
}
    .partners__body {
        gap: 20px;
        flex-wrap: wrap;
}
    .partners__item {
        flex: 1 1 33.333%;
    }
    .item-partners__link_third {
        order: 3;
    }
    .item-partners__link_fifth {
        order: 5;
    }
    
}
@media (max-width: 62em) /* 992px */ {
    .wrapper {
        padding: 15px 0 100px;
    }
    .header__top {
        margin-bottom: 40px;
    }
    .popular__card {
        grid-template-columns: repeat(auto-fit, minmax(362px, 1fr));
    }
    .header__menu {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        top: 50px;
        left: -230%;
    }
    .menu__list {
        max-width: 666px;
        margin: 0 auto;
    }

    /*----------------  Меню бургер  ---------------*/
	.burger__line {
		display: block;
        background-color: #030A1B;
	}
	#burger:checked ~ .header__menu {
		left: 0%;
	}
	#burger:checked ~ .header__content {
		margin-top: 180px;
	}
	#burger:checked ~ .line-first {
		display: none;
	}
	#burger:checked ~ .line-second {
		transform: rotate(45deg);
	}
	#burger:checked ~ .line-third {
		transform: rotate(-45deg);
	}
	#burger:checked ~ .line-fourth {
		display: none;
	}
/*---------------------------------------------------*/
    .header__title {
        font-size: 2.5rem;
    }
    .header__content {
        padding: 20px 30px 20px 0;
    }
    .tab {
        bottom: 0px;
    }
    .partners {
        padding: 30px 0 50px;
    }
    .partners__title {
        font-size: 2.5rem;
    }
    .partners__item:active,
    .partners__item:focus {
        box-shadow: 0 15px 10px 0 rgba(192, 15, 46, 0.74);
    }
}
@media (max-width: 47.9375em) /* 767px */ {
    .header__logo {
        margin-left: auto;
    }
    .header__menu {
        max-width: 150px;
        transform: translateX(-50%);
        z-index: 20;
        background: rgba(192, 15, 46, 0.74);
    }
    #burger:checked ~ .header__menu {
		left: 50%;
        top: 150px;
	}
    .menu__list {
        flex-wrap: wrap;
    }
    .menu__item {
        width: 100%;
    }
    .menu__link {
        color: #fff;
    }
    .header__body {
        flex-direction: column-reverse;
    }
    .header__content {
        padding: 50px 10px 10px;
        text-align: center;
    }
    .header__img {
        margin: 0 auto;
    }
    .label {
        top: 50px;
    }
    .burger__line {
        top: 66px;
    }
    .line-second,
    .line-third {
        top: 73px;
    }
    .line-fourth {
        top: 81px;
    }
    .partners {
        padding: 15px 0 35px;
    }
    .partners__title {
        font-size: 2rem;
    }
    .popular__top {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 40px;
    }
    .content-property {
        grid-template-columns: 1fr;
    }
    .property-item1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .property-item2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .property-item3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .property-item4 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    .property-item5 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    .property-item6 {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
    .content-property__item {
        min-width: 290px;
    }
}

@media (max-width: 30em) /* 480px */ {
    .header__title {
        font-size: 2rem;
    }
    .header__content {
        padding-top: 35px;
    }
    .partners__item {
        flex: 0 1 100%;
    }
    .partners {
        padding: 0 0 35px;
    }
    .partners__title {
        font-size: 1.75rem;
    }
    .popular__card {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        margin-bottom: 50px;
    }
    .popular__title {
        font-size: 2.3rem;
    }
    .property {
        padding: 50px 0;
    }
    .property__top {
        margin-bottom: 50px;
    }
    .property__title {
        font-size: 2.3rem;
    }
    .property__subtitle {
        font-size: 0.875rem;
    }
    .content-property__text {
        font-size: 0.875rem;
    }
}

@media (max-width: 25em) /*400px*/ {
    .card-popular__body {
        padding: 20px 19px 20px 20px;
    }
    .card-popular__title {
        font-size: 1.2rem;
    }
    .card-popular__details {
        padding: 7px 10px;
        font-size: 14px;
    }
    .card-popular__price {
        font-size: 1.2rem;
    }
    .popular__title {
        font-size: 1.7rem;
    }
    .popular__top {
        margin-bottom: 30px;
    }
    .property__title {
        font-size: 1.7rem;
    }
    .content-property__title {
        font-size: 1.2rem;
    }
}



























/*------Card-------*/

/*
.card-popular {
    max-width: 362px;
}
.card-popular__photo {
    position: relative;
    padding: 0 0 88.6740% 0;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}
.card-popular__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.card-popular__body {
    padding: 30px 29px 30px 30px;
}
.card-popular__row-top {
    display: flex;
    margin-bottom: 10px;
}
.card-popular__title {
    margin-right: auto;
}
.title-small {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 150%;
    color: #030A1B;
}
.card-popular__heart {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-popular__location {
    margin-bottom: 20px;
}
.location {
    display: flex;
}
.location__icon {
    padding-right: 10px;
    opacity: 0.7;
}
.location__title {
    opacity: 0.7;
}
.card-popular__facility-description {
    margin-bottom: 26px;
}
.description-facility {
    display: flex;
}
.description-facility__item {
    display: flex;
    align-items: center;
}
.description-facility__item:not(:last-child) {
    margin-right: 20px;
}
.description-facility__icon {
    padding-right: 5px;
}
.description-facility__number {
    align-self: flex-end;
    font-size: 0.875rem;
    line-height: 150%;
    opacity: 0.9;
}
.card-popular__row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-popular__price {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 150%;
    color: #FE753F;
}
.card-popular__details {
    padding: 10px 20px;
    font-weight: 500;
    color: #FFFFFF;
    background: #2E6EFF;
    border-radius: 5px;
}

*/